.git
.gitignore
.prettierrc
.swcrc
.cjs.swcrc
.esm.swcrc
.eslintrc.js

bun.lockb
pnpm-lock.yaml

node_modules
tsconfig.json
tsconfig.cjs.json
tsconfig.esm.json
CHANGELOG.md
jest.config.js
nodemon.json

example
tests
test
CHANGELOG.md
benchmarks
build.ts